<script>
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length == 2) return parts.pop().split(";").shift();
  }
  function handleEditPost(id) {
    const textareaValue = document.getElementById(`textarea_${id}`)?.value;

    fetch(`/edit_post/${id}`, {
      method: "POST",
      headers: {
        "Content-type": "application/json",
        "X-CSRFToken": getCookie("csrftoken"),
      },
      body: JSON.stringify({
        content: textareaValue,
      }),
    })
      .then((res) => res.json())
      .then((result) => {
        console.log("result: ", result);
        document.getElementById(`post_content_${id}`).innerHTML = result.data;
        $("#modal_edit_post_" + id).modal("hide");
      })
      .catch((err) => {
        console.log("error call service for edit post: ", err);
      });
  }

  function likeHandler(id, user_liked_id) {
    const icons = document.getElementsByClassName(`bi-heart-${id}`);

    fetch(`/like/${id}`)
      .then((res) => res.json())
      .then((result) => {
        console.log('likeHandler', result);
        if (result.success) {
          // Update the appearance of the like button
          const action = result.action;
          const nums_place = document.getElementById(`likes-count-${id}`)
          const nums_likes = parseInt(nums_place.getAttribute('value'))


          for (const icon of icons) {
            if (action === "Liked") {
              icon.classList.add('text-danger');
              nums_place.setAttribute('value', nums_likes + 1)
              nums_place.innerHTML = `<span class="p-0 m-0"> ${nums_likes + 1} </span>`
            } else {
              nums_place.setAttribute('value', nums_likes - 1)
              nums_place.innerHTML = `<span class="p-0 m-0"> ${nums_likes - 1} </span>`
              icon.classList.remove('text-danger');
            }
          }
        }
      })
      .catch((error) => {
        console.error("Error handling like:", error);
      });
  }
</script>
<div class="tweet-wrap">
  <div class="tweet-header" style="display: flex;
  flex-direction: inherit;">
    <img src="../../static/network/profile.png" alt="" class="avator" />

    <div class="d-flex" style="align-items: flex-end">
      <p> <span class="text-info">
          <a href="{% url 'profile' post.author.username %}">
            @{{post.author}}
          </a>
        </span><br />
        <span> {{post.date}} </span>
        <span>
      </p>
      </span>
    </div>
  </div>
  <div class="tweet-main">
    <div style="max-width: 380px; word-wrap: break-word" id="post_content_{{post.id}}">
      {{post.content}}
    </div>
    {% if post.image_cover %}
    <div class="tweet-img-wrap">
      <img src="/media/{{post.image_cover}}" alt="{{post.content}}" style="border-radius: 3px" class="tweet-img" />
    </div>
    {%endif%}
  </div>
  <div class="tweet-info-counts">
    <div class="comments">
      <button class="btn d-flex row like-button p-0 m-0">
        <i class="bi bi-chat-left-dots"></i>
        <div class="px-2 comment-count">33</div>
      </button>
    </div>

    <div class="retweets">
      <button class="btn d-flex row p-0 m-0">
        <i class="bi bi-arrow-counterclockwise"></i>
        <div class="px-2 retweet-count">397</div>
      </button>
    </div>

    <div class="likes-button" id="like-button-{{ post.id }}" data-user-liked="{{user_liked_id}}"
      data-id-post="{{post.id}}">
      <button class="btn d-flex row like-button p-0 m-0" data-post-id="{{ post.id }}"
        onclick="likeHandler({{post.id}}, {{user_liked_id}})">
        {%if post.id in user_liked_id %}
        <i class="bi bi-heart bi-heart-{{post.id}} text-danger"></i>

        {%else%} {% comment %}
        <div class="show-like-status-{{post.id}} mt-0 mx-2 pt-0">
          {% endcomment %}
          <i class="bi bi-heart bi-heart-{{post.id}}"></i>
          {% comment %}
        </div>
        {% endcomment %} {%endif%}
        <p class="likes-count-{{post.id}} p-0 m-0" id="likes-count-{{post.id}}" value={{post.num_likes}}>
          {{post.num_likes }}</p>
      </button>
    </div>

    <div class="message">
      <button class="btn">
        <i class="bi bi-send"></i>
      </button>
    </div>
    <div>
      {% if user.is_authenticated%} {% if user == post.author%}
      <div class="d-flex justify-content-around">
        <button class="btn p-0 m-0" data-toggle="modal" data-target="#modal_edit_post_{{ post.id }}">
          <i class="bi bi-pencil-square text-info"></i>
        </button>
        <div class="modal fade" id="modal_edit_post_{{ post.id }}" tabindex="-1" role="dialog" aria-hidden="true"
          aria-labelledby="#modal_edit_post_{{ post.id }}_lable" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <textarea rows="10" id="textarea_{{ post.id }}" class="form-control" name="content">
                {{post.content}}
                </textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="handleEditPost({{post.id}})">
                  Save changes
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {%endif%} {%endif%}
    </div>
  </div>
</div>